/cache/*
!/cache/includedir
!/cache/rate/
!/cache/user/

/cache/rate/*
!/cache/rate/includedir

/cache/user/*
!/cache/user/includedir

/www/forum/cache/*
!/www/forum/cache/empty
!/www/forum/cache/Smarty

/www/forum/cache/Smarty/*
!/www/forum/cache/Smarty/empty
!/www/forum/cache/Smarty/compile

/www/forum/cache/Smarty/compile/*
!/www/forum/cache/Smarty/compile/empty

/www/img/user/*
!/www/img/user/includedir
!/www/img/user/thumbs

/www/img/user/thumbs/*
!/www/img/user/thumbs/includedir

muzombies.ini.php