/cache/*
!/cache/includedir
!/cache/rate/
!/cache/user/

/cache/rate/*
!/cache/rate/includedir

/cache/user/*
!/cache/user/includedir

/www/forum/cache/*
!/www/forum/cache/empty
!/www/forum/cache/Smarty

/www/forum/cache/Smarty/*
!/www/forum/cache/Smarty/empty
!/www/forum/cache/Smarty/compile

/www/forum/cache/Smarty/compile/*
!/www/forum/cache/Smarty/compile/empty

/www/img/Thumbs.db
/www/img/mods/Thumbs.db

/www/img/user/*
!/www/img/user/includedir
!/www/img/user/thumb

/www/img/user/thumb/*
!/www/img/user/thumb/includedir

muzombies-dev.ini.php
muzombies-beta.ini.php
muzombies-prod.ini.php