#notfound_title
{
  font-family:    'nu-century-gothic';
  font-size:      50px;
  text-align:     center;
  letter-spacing: -1px;
  margin:         40px 0 0 0;
}

#notfound_subtext
{
  font-size:      20px;
  text-align:     center;
  margin:         20px 0 0 0;
}