#lostpassword_container
{
  float:            left;
  margin:           20px 0;
  padding:          10px;
  min-height:       400px;
  width:            375px;
}

#lostpassword_title
{
  font-family:    'nu-century-gothic', 'sans-serif';
  font-size:      25px;
  letter-spacing: -1px;
  color:          #222222;
  word-spacing:   -5px;
  width:            350px;
  padding:         0 0 2px 3px;
  margin:          0 0 10px 0;
  border-bottom:   2px solid #222222;
}

#lostpassword_status
{
  width:            333px;
  margin:           20px 0 0 0;
  padding:          10px;
  background:       #fff7d9;
  border-top:       1px solid #cdc57a;
  border-bottom:    1px solid #cdc57a; 
  text-align:       center;
  font-size:        13px;
  line-height:      15px;
}

#lostpassword_form, #newpassword_form
{
  margin:           30px 0 0 0;
}

.lostpassword_row_container, #lostpassword_submit_container
{
  position:         relative;
  width:            100%;
  margin:           13px 5px;
}

#lostpassword_submit_container
{
  height:           50px;
}

.lostpassword_row_label, #lostpassword_submit_label
{
  float:            left;
}

.lostpassword_row_textbox, #lostpassword_submit_button
{
  float:            right;
  width:            270px;
}

.lostpassword_textbox
{
  position:         absolute;
  top:              50%;
  margin-top:       -10px;
  
  height:           16px;
  width:            235px;
  padding:          2px;
  font-size:        14px;
}

.lostpassword_button
{
  height:         25px;
  margin:         3px 0;
  padding:        4px 20px;
  border:         1px solid #AAAAAA;
  background:     #D9D9D9;
  font-size:      14px;
  text-align:     center;
}

@-moz-document url-prefix() {
	.lostpassword_button {
		padding:      2px 20px 4px 20px;
	}
}

.lostpassword_button:hover
{
  border:         1px solid #999999;
  background:     #C9C9C9;
  text-decoration:none;
}

.lostpassword_button:active
{
  background:     #B9B9B9;
}

.lostpassword_footer_text
{
  margin:         15px 0;
}

.lostpassword_header_text
{
  padding:        0 20px 0 3px;
  margin:         10px 0 0 0;
}


#signup_container
{
  float:            right;
  margin:           20px 0;
  padding:          10px;
  background:       #F2F2F2;
  border:           2px solid #DDDDDD;
  min-height:       400px;
  width:            400px;
}

#signup_title
{
  font-family:    'nu-century-gothic', 'sans-serif';
  font-size:      25px;
  letter-spacing: -1px;
  word-spacing:   -5px;
}

#signup_container p
{
  margin:         15px 10px 10px 2px;
  line-height:    15px;
  font-size:      13px;
}

#signup_container ol
{
  font-size:      13px;
  line-height:    16px;
  margin:         30px 0 30px 40px;
  list-style-type:decimal;
}

