html, body
{
  height:         100%;
}

body
{
  background:     #FFFFFF;
  font-family:    "Trebuchet MS", "Tahoma", "Sans-Serf";
}


@font-face
{
  font-family: 'nu-century-gothic';
  src: url('font/gothic/gothic-webfont.eot');
  src: local('?'),
  url('font/gothic/gothic-webfont.woff') format('woff'),
  url('font/gothic/gothic-webfont.ttf') format('truetype'),
  url('font/gothic/gothic-webfont.svg') format('svg');
}

@font-face
{
  font-family: 'blue-bold';
  src: url('font/bluebold/bluebold-webfont.eot');
  src: local('?'),
  url('font/bluebold/bluebold-webfont.woff') format('woff'),
  url('font/bluebold/bluebold-webfont.ttf') format('truetype'),
  url('font/bluebold/bluebold-webfont.svg') format('svg');
}

.clearfix
{
  clear:          both;
}

.accent_color
{
  color:          #2D68B3;
}

.bold
{
  font-weight:    bold;
}

.italic
{
  font-style:     italic;
}

a
{
  color:          #000000;
  text-decoration:none;
}

a:hover
{
  text-decoration:underline;
}

a:visited
{
}

.impersonation_bar
{
  left:           0;
  top:            0;
  height:         14px;
  width:          100%;
  background:     #FFF3B7;
  border-bottom:  1px solid #FBDC43;
  padding:        7px 0;
  text-align:     center;
  font-size:      14px;
}

#body_container
{
  min-height:     100%;
  height:         auto !important;
  height:         100%;
  margin:         0 0 -122px 0; /* Negative value must always equal height of footer */
}
  
#header_container
{
  border-bottom:  2px solid #DDDDDD;
  height:         115px;
  background: #FFFFFF;
  background: -moz-linear-gradient(top, #FFFFFF 0%, #C7DAFC 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#C7DAFC));
  background: -webkit-linear-gradient(top, #FFFFFF 0%,#C7DAFC 100%);
  background: -o-linear-gradient(top, #FFFFFF 0%,#C7DAFC 100%);
  background: -ms-linear-gradient(top, #FFFFFF 0%,#C7DAFC 100%);
  background: linear-gradient(to bottom, #FFFFFF 0%,#C7DAFC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#C7DAFC',GradientType=0 );
}

.content_column
{
  width:          850px;
  margin:         0 auto 0 auto;
}

.email_img
{
  vertical-align: text-bottom;
  border:         none;
}

#logo
{
  font-family:    'nu-century-gothic', 'sans-serif';
  font-size:      65px;
  float:          left;
  height:         65px;
  margin:         10px 0 0 3px;
  cursor:         pointer;
  letter-spacing: -1px;
}

#logo_subtext
{
  font-family:    'blue-bold', 'sans-serif';
  font-size:      28px;
  line-height:    16px;
  float:          left;
  height:         65px;
  margin:         18px 0 0 8px;
  cursor:         pointer;
  letter-spacing: -1.5px;
}

a.logo, a.pointer
{
  text-decoration:none;
  cursor:         pointer;
}

#header_navigation_container
{
  margin:         37px 0 0 0;
  float:          right;
  color:          #555555;
  font-size:      14px;
}


a.header_navigation
{
  color:          #555555;
}

.header_nav_option
{
  padding:        0 12px;
}

#content
{
  margin:         -30px 0 0 0; /* Must match height of content_top_border plus border width */
  background:     #FFFFFF;
}

#content_top_border
{
  height:         28px;
  border-left:    2px solid #DDDDDD;
  border-top:     2px solid #DDDDDD;
  border-right:   2px solid #DDDDDD;
  background:     #FFFFFF;
}

#body_header
{
  height:         40px;
}

#body_header_page_title
{
  float:          left;
  font-family:    'blue-bold', 'sans-serif';
  font-size:      25px;
  padding:        10px 15px;
}

#body_header_nav_container
{
  float:          right;
  margin:         17px 10px;
  color:          #222222;
  font-size:      14px;
}

a.body_header_navigation, a.button
{
  height:         16px;
  padding:        2px 10px;
  border:         1px solid #DDDDDD;
  background:     #F5F5F5;
}

a:hover.body_header_navigation, a:hover.button
{
  border:         1px solid #CCCCCC;
  background:     #E9E9E9;
  text-decoration:none;
}

a:active.button, input:active.button
{
  background:     #d4d4d4;
}

input.body_header_navigation, input.button
{
  height:         24px;
  padding:        2px 10px;
  border:         1px solid #DDDDDD;
  background:     #F5F5F5;
  cursor:         pointer;
}

input:hover.body_header_navigation, input:hover.button
{
  border:         1px solid #CCCCCC;
  background:     #E9E9E9;
  text-decoration:none;
}

input:active.button
{
  background:     #d4d4d4;
}

.body_header_nav_option
{
  padding:        0 4px;
}

#body_header_message, .index_header_message
{
  clear:          both;
  float:          left;
  width:          812px;
  margin:         15px 9px 5px 9px;
  font-size:      14px;
  text-align:     center;
  padding:        8px;
  height:         14px;
  border:         1px solid #DDDDDD;
  background:     #F2F2F2;
}

.index_header_message
{
  margin:         15px 0 5px 0;
}

#body_content
{
  clear:          both;
  padding:        5px 10px 60px 10px;
}

#footer_push, #footer
{
  height:         100px;    
}

#footer
{
  padding:        10px;
  background: #4C6775; /* Old browsers */
  background: -moz-linear-gradient(top, #4C6775 0%, #03070A 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4C6775), color-stop(100%,#03070A)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #4C6775 0%,#03070A 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #4C6775 0%,#03070A 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #4C6775 0%,#03070A 100%); /* IE10+ */
  background: linear-gradient(to bottom, #4C6775 0%,#03070A 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4C6775', endColorstr='#03070A',GradientType=0 ); /* IE6-9 */

  border-top:     1px solid #03070A;
}

a.footer
{
  color:          #B45F04;
  font-style:     italic;
}

#footer_images_container
{
  float:          left;
  width:          580px;
  height:         100px;
  overflow-y:     hidden;    
}


.footer_image_single_container
{
  margin:         2px 5px 0 5px;
  float:          left;
}

.footer_image
{
  opacity:        0.95;
  height:         90px;
  padding:        2px;
  background:     #2B4A72;
  border:         1px solid #FFFFFF;
}

#footer_about
{
  float:          right;
  margin:         0;
  line-height:    17px;
  color:          #FAFAFA;
  font-size:      14px;
  width:          250px;
}

#footer_copyright
{
  float:          left;
  margin:         16px 0 0 0;
}

#footer_design
{
  float:          left;
  margin:         13px 0 0 0;
}

#forums
{
  margin:         15px 0;
}
